.advantages__box {
  background-color: $basic-blue;
  color: $basic-white;
  text-align: center;
  padding: 54px 19px 26px 19px;

  @media (min-width: $tablet-width) {
    padding: 30px 12px 30px 13px;
  }

  &--small {
    padding: 39px 16px 20px 15px;

    @media (min-width: $tablet-width) {
      grid-column: 2;
      grid-row: 1;
      padding: 24px 24px 30px 24px;
    }
  }
}

.advantages__photo {
  display: block;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
  }
}

.advantages__list--white {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 9px;
    text-align: start;
  }

  @media (min-width: $tablet-width) {
    min-height: 330px;
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__item--greyTwo {
  @media (min-width: $tablet-width) {
    padding-top: 19px;
  }
}

.advantages__inner {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 36px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__inner--grey {
  background-color: $basic-super-grey;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__item--grey:not(:last-child) {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $special-grey-6;
  }
}

.advantages__inner--blue {
  padding: 0;

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 1;
    }

    grid-template-columns: 2fr 1fr;
  }
}

.advantages__title {
  margin: 0;

  @include font-Heading-tiny;

  @media (min-width: $tablet-width) {
    @include font-Heading-small;
    text-align: center;
    margin-bottom: 23px;
  }
}

.advantages__title--blue {
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 81px;
    padding-left: 81px;
    padding-top: 17px;
  }
}

.advantages__title--blueTwo {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
  }
}

.advantages__title--grey {
  padding-bottom: 2px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding-left: 49px;
    padding-right: 49px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 121px;
    padding-right: 121px;
  }
}

.advantages__desc {
  @include font-Text-tiny;
  padding-left: 0;
  padding-right: 10px;

  &--grey {
    padding-left: 10px;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0 33px;
    margin: 0;
    padding-left: 31px;

    &--two {
      padding: 0 51px;
    }

    &--three {
      padding: 0 31px;
    }

    &--grey {
      padding: 10px 39px;
      margin: 0;
    }

    &--grey-small {
      padding: 3px 54px;
      margin: 0;
    }

    &--blue {
      padding-left: 6px;
      padding-right: 6px;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;

    &--grey {
      padding: 10px 55px;
    }
  }
}

.advantages__desc--greyOne {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 24px;
  }
}

.advantages__desc--grey-small {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 24px;
  }
}

.advantages__desc--greyThree {
  @media (max-width: $mobile-width-only) {
    margin: 0;
    padding-top: 15px;
  }
}

.advantages__desc--blue {
  @media (max-width: $mobile-width-only) {
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 48px;
    padding-right: 46px;
  }
}

.advantages__desc--blue-two {
  @media (max-width: $mobile-width-only) {
    padding-top: 5px;
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 59px;
    padding-right: 59px;
  }
}

.advantages__item--white {
  padding-left: 70px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }
  }
}

.advantages__icon {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: 19px;
    top: -8px;

    &--gift {
      left: 24px;
      top: -12px;
    }
  }

  @media (min-width: $tablet-width) {
    &--house {
      width: 75px;
      height: 72px;
      padding-bottom: 21px;
    }

    &--gift {
      width: 64px;
      height: 75px;
    }

    &--burger {
      width: 76px;
      height: 68px;
      padding-bottom: 23px;
    }
  }
}

.advantages__number {
  margin: 0;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.advantages__image {
  display: block;
}
