.advantages__box {
  box-sizing: border-box;
  padding-top: 38px;
  padding-right: 20px;
  padding-bottom: 38px;
  padding-left: 20px;
  background-color: $basic-blue;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-right: 30px;
    padding-bottom: 38px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
    padding-right: 63px;
    padding-bottom: 34px;
    padding-left: 63px;
  }

  &--small {
    @media (min-width: $tablet-width) {
      grid-column: 2;
      grid-row: 1;
    }
  }
}

.advantages__photo {
  display: block;
}

.advantages__list {
  @include reset-list;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__list--white {
  @media (max-width: $mobile-width-only) {
    padding-top: 20px;
    padding-bottom: 34px;
  }
}

.advantages__item {
  box-sizing: border-box;
  padding-top: 25px;
  padding-right: 35px;
  padding-bottom: 25px;
  padding-left: 35px;
  background-color: $basic-super-grey;

  @media (min-width: $tablet-width) {
    flex-basis: calc(100% / 3);
    flex-shrink: 0;
    padding-top: 42px;
    padding-right: 40px;
    padding-bottom: 41px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 62px;
  }
}

.advantages__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__inner:first-of-type {
  @media (max-width: $mobile-width-only) {
    background-color: $basic-blue;
    padding-top: 18px;
  }
}

.advantages__item--grey + .advantages__item--grey {
  position: relative;
}

.advantages__item--grey + .advantages__item--grey::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
    display: block;
    height: 1px;
    background-color: $special-grey-6;
  }
}

.advantages__inner--blue {
  padding: 0;

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 1;
    }

    grid-template-columns: 2fr 1fr;
  }
}

.advantages__title {
  margin: 0;

  @include font-Heading-tiny;

  @media (min-width: $tablet-width) {
    @include font-Heading-small;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.advantages__title--grey {
  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 81px;
  }
}

.advantages__item--white .advantages__title {
  margin-top: 15px;

  @media (min-width: $desktop-width) {
    margin-top: 19px;
  }
}

.advantages__title--blue {
  color: $basic-white;
}

.advantages__desc {
  @include font-Text-tiny;
  margin-top: 15px;
  margin-bottom: 0;

  &--grey {
    margin-top: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}

.advantages__item--white {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  background-color: inherit;

  @media (max-width: $mobile-width-only) {
    padding-left: 70px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-right: 31px;
    padding-bottom: 60px;
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    padding-bottom: 80px;
    padding-left: 50px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }
  }
}

.advantages__item--white + .advantages__item--white {
  @media (max-width: $mobile-width-only) {
    margin-top: 28px;
  }
}

.advantages__icon {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: 40px;
    top: 10px;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 75px;
  }
}

.advantages__number {
  margin-top: 10px;
  margin-bottom: 0;
}

.advantages__number--grey {
  margin-top: 12px;
}

.advantages__desc--two {
  @media (min-width: $tablet-width) {
    max-width: 177px;
    margin-right: 12px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
  }
}

.advantages__desc--blue-two {
  @media (min-width: $desktop-width) {
    max-width: 234px;
    margin: 28px auto 0;
  }
}

.advantages__desc--three span {
  @media (min-width: $desktop-width) {
    display: block;
  }
}
