.copyright {
  display: flex;
}

.copyright__text {
  @include font-Text-large;

  padding-right: 10px;
}

.copyright__link {
  &:hover path {
    fill: $basic-blue;
  }

  &:active path {
    fill: $basic-black;
    opacity: 0.3;
  }
}
