.copyright {
  display: flex;
}

.copyright__text {
  @include font-Text-large;

  padding-right: 10px;

  @media (min-width: $tablet-width) {
    padding-right: 14px;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 16px;
    padding-top: 5px;
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      padding-top: 4px;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding-right: 16px;
      padding-top: 13px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 13px;
      padding-top: 20px;
    }
  }
}

.copyright__link {
  &:hover svg {
    stroke: $basic-blue;
  }

  &:active svg {
    fill: $basic-black;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-right: 2px;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 5px;
    padding-bottom: 4px;
  }
}

.copyright__link--catalog {
  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
  }
}

.copyright__link--form {
  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}
