.form__text,
.form__desc {
  background-color: $basic-extra-grey;
}

.form__heading {
  padding-bottom: 20px;
  text-align: center;

  @include font-Heading-tiny;

  @media (min-width: $tablet-width) {
    @include font-Heading-small;
  }

  &--effect {
    padding-bottom: 37px;
  }

  &--comments {
    padding-top: 6px;
    padding-bottom: 15px;
  }

  &--lion {
    padding-top: 14px;
    padding-bottom: 36px;
  }
}

.form__subtitle {
  @include font-Text-large;

  padding-right: 10px;

  &--hidden {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.form__text,
.form__grade,
.form__desc {
  @include font-Heading-tiny;
  text-transform: none;
}

.form__subtitle--desc {
  padding-top: 14px;
  padding-bottom: 5px;
  padding-left: 42px;

  @media (min-width: $tablet-width) {
    padding-left: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
  }
}

.form__text--tel,
.form__text--email {
  padding-bottom: 14px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 60px;
  }
}

.form__button {
  @include font-Heading-small;

  color: $basic-white;
  background-color: $basic-blue;
  border: none;
  padding: 18px 33px 14px 32px;
  margin: 0 21px 48px 19px;
  width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 324px;
    margin: 0 132px 61px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    margin: 0;
  }
}

.form__inner {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 60px 120px;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @include reset-list;

  &--first {
    order: 0;
  }

  &--second {
    order: 1;
  }

  &--three {
    order: 2;
    grid-column: span 2;
  }
}

.form__login {
  display: flex;
  padding: 0 20px 20px 20px;
  align-items: center;
}

.form__text {
  border: none;
  min-height: 58px;
  padding: 0;
  padding-left: 22px;

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 350px;
  }

  &--login {
    width: 170px;

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 312px;
    }
  }

  &--tel {
    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 257px;
      height: 58px;
    }
  }

  &--email {
    padding-top: 5px;
    margin-bottom: 49px;

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 258px;
    }
  }
}

.form__heading--contact {
  padding-top: 26px;
  padding-bottom: 17px;
}

.form__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.form__row {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.form__desc {
  width: 235px;
  min-height: 160px;
  border: none;
  padding: 13px 23px 29px 21px;
  margin: 0 22px 51px 19px;

  @media (min-width: $tablet-width) {
    min-width: 606px;
    min-height: 118px;
    padding: 18px 21px 24px 21px;
    margin: 55px 60px 58px 60px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    min-width: 960px;
    min-height: 160px;
    margin: 55px 120px;
  }
}

.form__holder {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 277px;
  }
}

.form__wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__lions {
  padding-bottom: 54px;
}

.form__legend {
  @include font-Text-large;
  color: $basic-grey;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.form__effect {
  padding-bottom: 43px;
}
