.form__text,
.form__desc {
  background-color: $basic-extra-grey;

  &:hover {
    background-color: $special-grey-3;
  }

  &:active {
    background-color: $basic-white;
    border: 4px solid $special-grey-3;
  }
}

.form__heading {
  padding-bottom: 20px;
  padding-top: 18px;
  padding-left: 2px;
  text-align: center;

  @include font-Heading-tiny;

  @media (min-width: $tablet-width) {
    @include font-Heading-small;

    padding-bottom: 55px;
  }

  &--effect {
    padding-bottom: 29px;

    @media (min-width: $tablet-width) {
      padding-bottom: 55px;
      padding-left: 59px;
      text-align: start;
    }

    @media (min-width: $desktop-width) {
      text-align: center;
      padding-left: 0;
    }
  }

  &--comments {
    padding-left: 7px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding-top: 41px;
      padding-bottom: 54px;
    }
  }

  &--present {
    @media (min-width: $tablet-width) {
      text-align: start;
      padding-left: 56px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 79px;
    }
  }
}

.form__subtitle {
  @include font-Text-large;

  padding-right: 15px;

  @media (min-width: $desktop-width) {
    padding-right: 15px;
  }

  &--hidden {
    padding-right: 0;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.form__text,
.form__grade,
.form__desc {
  @include font-Heading-tiny;
  text-transform: none;
}

.form__subtitle--desc {
  padding-top: 12px;
  padding-bottom: 7px;
  padding-left: 45px;

  @media (width: $tablet-width) {
    padding-left: 82px;
  }
}

.form__grade {
  padding-top: 2px;

  &--park {
    padding-top: 0;
  }

  &--rock {
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    padding-right: 31px;
    padding-top: 7px;
  }
}

.form__text--tel,
.form__text--email {
  padding-bottom: 14px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  padding-left: 3px;
}

.form__radio:checked + label::before,
.form__radio + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  border: 15px solid $basic-extra-grey;
  background-color: $basic-extra-grey;
}

.form__radio:checked + label::before {
  background-color: $basic-black;
}

.form__radio:not(:checked) + label:hover::before {
  border: 15px solid $special-grey-3;
  background-color: $special-grey-3;
}

.form__radio:checked + label:hover::before {
  border: 15px solid $special-grey-3;
  background-color: $basic-black;
}

.form__radio:not(:checked) + label:active::before {
  border: 15px solid $special-grey-4;
  background-color: $special-grey-4;
}

.form__radio:checked + label:active::before {
  border: 15px solid $special-grey-4;
  background-color: $special-black;
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__checkbox:checked + label::before,
.form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: $basic-extra-grey;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='black'/%3E%3C/svg%3E");
}

.form__checkbox:not(:checked) + label:hover::before {
  background-color: $special-grey-3;
}

.form__checkbox:checked + label:hover::before {
  background-color: $special-grey-3;
}

.form__checkbox:not(:checked) + label:active::before {
  background-color: $special-grey-4;
}

.form__checkbox:checked + label:active::before {
  background-color: $special-grey-4;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}

.form__rating {
  padding-left: 26px;
  margin-bottom: 1px;
}

.form__rating--park {
  margin-top: 3px;
}

.form__rating--rock {
  margin-top: 6px;
}

.form__button {
  @include font-Heading-small;

  color: $basic-white;
  background-color: $basic-blue;
  border: none;
  padding: 18px 33px 14px 32px;
  margin: 1px 23px 43px 23px;
  width: 280px;

  &:hover {
    background-color: $special-blue-1;
  }

  &:active {
    background-color: $special-blue-2;
    color: $special-white;
  }

  &:disabled {
    background-color: $special-grey-3;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 324px;
    margin: 0 132px 61px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    margin: 0;
  }
}

.form__inner {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 60px 120px;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @include reset-list;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $special-grey-3;

    &--noBorder {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--first {
      order: 0;
      text-align: center;
    }

    &--second {
      order: 1;
      text-align: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 292px;
        width: 1px;
        background: $special-grey-5;
        bottom: 17px;
        left: 0;
      }
    }

    &--three {
      order: 2;
      grid-column: span 2;
    }
  }
}

.form__fieldset--first {
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.form__login {
  display: flex;
  padding: 0 20px 21px 22px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 1px 54px 19px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 20px 79px;
  }
}

.form__text {
  border: none;
  min-height: 58px;
  padding: 0;
  padding-left: 22px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }

  &--login {
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 312px;
    }
  }

  &--tel {
    @media (min-width: $desktop-width) {
      width: 257px;
      height: 58px;
    }
  }

  &--email {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      width: 258px;
    }
  }
}

.form__icon {
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
  background-color: $special-grey-8;
}

.form__icon--tel {
  padding: 20px;
  top: 72%;

  @media (min-width: $tablet-width) {
    right: 60px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
    top: 53%;
  }
}

.form__icon--email {
  padding: 22px 18px;
  top: 55%;

  @media (min-width: $tablet-width) {
    right: 60px;
    top: 72%;
  }

  @media (min-width: $desktop-width) {
    right: 0;
    top: 53%;
  }
}

.form__heading--contact,
.form__heading--lion,
.form__heading--comments {
  @media (max-width: $mobile-width-only) {
    padding-top: 22px;
    padding-bottom: 5px;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 123px;
      background: $special-grey-5;
      top: 49px;
    }

    &::before {
      right: 323px;
    }

    &::after {
      left: 323px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      width: 280px;
    }
  }
}

.form__heading--lion {
  @media (max-width: $mobile-width-only) {
    padding-top: 14px;
    padding-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 51.5px;
    padding-bottom: 47.5px;
  }
}

.form__heading--contact {
  @media (min-width: $tablet-width) {
    padding-top: 38px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50.5px;
    padding-bottom: 54.5px;
  }
}

.form__contacts {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.form__row {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.form__desc {
  width: 235px;
  min-height: 160px;
  border: none;
  padding: 12px 23px 15px 23px;
  margin: 0 22px 17px 20px;

  @media (min-width: $tablet-width) {
    min-width: 606px;
    min-height: 118px;
    padding: 18px 21px 24px 21px;
    margin: 0 60px 58px 60px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    min-width: 960px;
    min-height: 160px;
    margin: 55px 120px;
  }
}

.form__holder {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 277px;
    padding-left: 128px;
    padding-right: 120px;
  }
}

.form__wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 960px;
    padding-left: 125px;
  }
}

.form__lions {
  padding-bottom: 26px;
  padding-left: 28px;
}

.form__legend {
  @include font-Text-large;
  color: $basic-grey;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.form__effect {
  padding-bottom: 12px;
  padding-left: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
    padding-left: 22px;
  }
}
