.modal {
  text-align: center;
}

.modal__heading {
  @include font-1;
  margin: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    @include font-8;
    padding-left: 30px;
    padding-right: 30px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      @include font-6;
    }
  }
}

.modal__text {
  @include font-4;
  margin: 0;
  padding: 35px 15px 22px 15px;

  &--big {
    padding: 35px 11px 21px 12px;
  }
}

.modal__btn {
  @include font-1;
  color: $basic-white;
  padding: 18px 64px 14px 63px;
  background-color: $basic-blue;
  border: none;
  margin: 22px 70px 35px 70px;
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 272px;
  }

  &--closed {
    margin: 20px;
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 458px;
    }
  }
}

.modal__inner {
  background-color: $basic-extra-grey;
}

.modal-form {
  width: 237px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 307px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      width: 444px;
    }
  }
}
