.modal {
  text-align: center;
}

.modal__heading {
  @include font-Heading-tiny;
  margin: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    @include font-Heading-large;
    padding-left: 30px;
    padding-right: 30px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      @include font-Heading-medium;
    }
  }
}

.modal__text {
  @include font-Text-small;
  margin: 0;
  padding: 25px 15px 22px;

  &--big {
    padding: 25px 11px 21px 12px;
  }
}

.modal__btn {
  @include font-Heading-tiny;
  color: $basic-white;
  padding: 18px 64px 14px 63px;
  background-color: $basic-blue;
  border: none;
  margin: 1px 72px 35px;
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 272px;
  }

  &--closed {
    margin: 38px 13px 10px 16px;
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 458px;
    }
  }
}

.modal__inner {
  background-color: $basic-extra-grey;
}

.modal-form {
  width: 237px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 307px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      width: 444px;
    }
  }
}
