.page-body {
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: $basic-white;
  min-width: 320px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 768px;
    box-shadow: $page-shadow;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    box-shadow: $page-shadow;
  }
}
