.page-title {
  text-transform: uppercase;
  text-align: center;
  min-width: 285px;
  min-height: 162px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 520px;
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
  }

  &--catalog {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $special-grey-3;
    }
  }

  &--form {
    padding-top: 42px;
    padding-right: 5px;

    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $special-grey-3;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.page-title--main {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      width: 320px;
      height: 32px;
      position: absolute;
      left: 0;
      bottom: -14px;
      background-color: $basic-blue;
      background-image: url("../img/white copy 2.svg");
    }
  }
}

.page-title__heading {
  margin: 0;
  padding-bottom: 48px;

  @include font-Heading-tiny;

  @media (min-width: $tablet-width) {
    @include font-Heading-medium;
  }

  &--main {
    @media (max-width: $mobile-width-only) {
      padding: 36px 24px 24px;
    }

    @media (min-width: $tablet-width) {
      @include font-Heading-small;
      padding-top: 43.5px;
      padding-bottom: 31px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 52px;
    }
  }
}

.page-title__heading--catalog {
  padding-top: 31px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 102px;
  }
}

.page-title__heading--form {
  padding-bottom: 28px;
}

.page-title__text {
  @include font-Text-large;
  margin: 0;
  padding-bottom: 31px;

  &--main {
    @media (max-width: $mobile-width-only) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 3px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 43px;
    }
  }

  &--catalog {
    @include font-Text-small;
    text-align: center;
    padding-left: 21px;
    padding-right: 15px;

    @media (min-width: $tablet-width) {
      padding-left: 37px;
      padding-right: 37px;
      padding-bottom: 75px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 29px;
      padding-right: 29px;
      padding-bottom: 79px;
    }
  }

  &--form {
    @include font-Text-small;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding: 0 38px 66px 38px;
    }

    @media (min-width: $desktop-width) {
      padding: 23px;
    }
  }
}


.main-nav__list {
  @include reset-list;
}
