.page-title {
  text-transform: uppercase;
  text-align: center;
  width: 285px;
  height: 162px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 520px;
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
  }
}

.page-title__heading {
  @include font-1;

  @media (min-width: $tablet-width) {
    @include font-3;
  }
}

.page-title__text {
  @include font-5;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.main-nav__list {
  @include reset-list;
}
