.page-title {
  text-transform: uppercase;
  text-align: center;
  min-width: 285px;
  min-height: 162px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 520px;
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
  }

  &--catalog {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $special-grey-3;
    }
  }

  &--form {
    padding-top: 36px;

    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $special-grey-3;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.page-title__heading {
  margin: 0;
  padding-bottom: 48px;

  @include font-Heading-tiny;

  @media (min-width: $tablet-width) {
    @include font-Heading-medium;
  }

  &--main {
    padding: 10px;
    padding-bottom: 52px;

    @media (min-width: $tablet-width) {
      @include font-Heading-small;
    }
  }
}

.page-title__text {
  @include font-Text-large;
  margin: 0;
  padding-bottom: 31px;

  &--catalog {
    @include font-Text-small;

    @media (min-width: $tablet-width) {
      padding: 0 37px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 29px;
    }
  }

  &--form {
    @include font-Text-small;

    @media (min-width: $tablet-width) {
      padding: 0 38px 66px 38px;
    }

    @media (min-width: $desktop-width) {
      padding: 23px;
    }
  }
}


.main-nav__list {
  @include reset-list;
}
