.social {
  @include reset-list;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-right: 13px;
    padding-top: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-right: 47px;
  }
}

.social__item {
  width: 46px;
  height: 48px;
  background: $basic-blue;
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  &:hover {
    background-color: $special-blue-1;
  }

  &:active {
    background-color: $special-blue-2;
  }
}

.social__link:hover svg {
  transform: scale(0.8);
}

.social__link:active svg {
  opacity: 0.3;
}

.social--catalog {
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-right: 9px;
    padding-top: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 45px;
  }
}

.social--form {
  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}
