
.video__title {
  text-align: center;
  padding-bottom: 33px;
  margin: 0 auto;
  width: 266px;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
    width: 445px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.video__heading {
  margin-top: 32px;

  @include font-1;

  @media (min-width: $tablet-width) {
    @include font-6;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
  }
}

.video__text {
  @include font-4;
  margin: 0;
}
