@mixin reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin font-Heading-menu {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-Heading-large {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-Heading-medium {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-Heading-small {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-Heading-tiny {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-Text-large {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin font-Text-menu {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-Text-medium {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-Text-small {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin font-Text-tiny {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
